.hide{
    display: none;
}
.UserInfo{
    padding-top: 40px;
    .user_wallet{
        height: 165px;
        padding-top: 40px;
        margin: 0 50px;
        background-size: 100% 100%;
        .avatar{
            width: 82px ;
            height: 82px;
            float: left;
            margin-right: 24px;

            border-radius: 8px 8px 8px 8px;
            opacity: 1;
        }
        .address_ehem{
            float: left;
            p{
                color: #3F8CFF;
                font-size: 18px;
                img{
                    width: 23px;
                    height: 23px;
                    margin-left: 7px;
                    cursor: pointer;
                }
                span{
                    color: #20304C;
                }

                .select_main {
                    margin-left: 50px;
                }
            }

            

        }
        .not{
            float: right;
            display: flex;

            img{
                width: 38px;
                height: 38px;
                margin-left: 20px;
                cursor: pointer;
            }
            .send{
                width: 100px;
                height: 30px;
                background: #EFF4F7;
                box-shadow: 0px 2px 3px 1px rgba(63,140,255,0.5);
                border-radius: 5px 5px 5px 5px;
                opacity: 1;
                color: #20304C;
                border:none;
                font-size: 14px;
                margin-left: 10px;
            }

            .receive{
                width: 100px;
                height: 30px;
                background: #3F8CFF;
                box-shadow: 0px 2px 3px 1px rgba(63,140,255,0.5);
                border-radius: 5px 5px 5px 5px;
                opacity: 1;
                color: #fff;
                border:none;
                font-size: 14px;
                margin-left: 10px;
            }

            .export{
                width: 100px;
                height: 30px;
                background: #44C1D0;
                box-shadow: 0px 2px 3px 1px rgba(68,193,208,0.5);
                border-radius: 5px 5px 5px 5px;
                opacity: 1;
                color: #fff;
                border:none;
                font-size: 14px;
                margin-left: 10px;
            }
        }
    }

}


.ModalSendAndReceive{
    .ant-modal-content{
        background: #ffffff;
        background-size:100% 100%;
        border-radius: 16px;
        overflow: hidden;
    }
    .ant-modal-header{
        border:1px solid #282A29;
        background: rgba(0,0,0,0);
        font-family: 'SpaceMono';
        padding-top: 32px;
        padding-bottom: 32px;
        .ant-modal-title{
            color: #fff;
            font-size: 25px;
        }

    }
    .ant-modal-close{
        display: none;
        padding-top: 23px;
        .ant-modal-close-icon{
            color: #fff;
            font-size: 25px;
            font-weight: bold;
            
        }

    }
    .ant-modal-footer{
        display: none;
    }

    .head {
        display: flex;
        justify-content: space-between;
        padding-bottom: 15px;

        .point{
            width: 6px;
            height: 11px;
            // background: #3F8CFF;
            // opacity: 1;
            // border: 1px solid #3F8CFF;
        }

        .btn_div {
            width: 134px;
            height: 34px;
            background: #EDF5FE;
            border-radius: 9px 9px 9px 9px;
            opacity: 1;

            .btn {
                width: 40px;
                height: 34px;
                font-size: 11px;
                font-family: Apercu-Bold, Apercu;
                font-weight: bold;
                color: #3F8CFF;
                padding: 5px 15px;
                line-height: 34px;
                cursor: pointer;
            }

            .active {
                background:#3F8CFF;
                width: 40px;
                height: 34px;
                font-size: 11px;
                font-family: Apercu-Bold, Apercu;
                font-weight: bold;
                color: #ffffff;
                padding: 5px 15px;
                line-height: 34px;
                border-radius: 9px 9px 9px 9px;
                opacity: 1;
            }
        }
    }

    .line {
        width: 100%;
        height: 1px;
        background: #E9F2FF;
        opacity: 1;
    }

    .address_{
        color: #000;;
        font-size: 22px;
        display: block;
        text-align: center;
    }
    ._address{
        width: 90%;
        margin: 0 auto;
        padding-top: 20px;
        padding-bottom: 20px;
        input{
            height: 60px;
            background: #EDF5FE;
            opacity: 1;
            border:none;
            color: #000;;    
        }

    }
    ._Amount{
        width: 90%;
        margin: 0 auto;
        background: #EDF5FE;                    
        display: flex;
        align-items: center;
        overflow: hidden;
        input{
            height: 60px;
            opacity: 1;
            border:none;
            color: #000;;  
            background: #EDF5FE;

        }
        button{
            width: 103px;
            height: 40px;
            background: #3F8CFF;

            margin-right: 20px;
            color: #fff;
            opacity: 1;
            span{
            font-size: 19px !important;
            }
        }
    }

    .balance{
        text-align: left;
        color: #FFD271;
        margin-left: 25px;
    }

    p{
        font-size: 20px;
        font-weight: 400;
        color: #AAAAAA;
        display: flex;
        justify-content: space-between;
        a{
        color: #FFFFFF;
        font-size: 16px;

        }
    }

    .QR_CODE{
        width: 200px;
        height:200px;
        background: linear-gradient(180deg, #47C8C3 0%, #5AA6E9 41%, #5F58CC 100%);
        opacity: 1;
        border-radius: 16px;
        margin: 30px auto;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
    }
    p{
        color: #AAAAAA;
        font-size: 18px;
        text-align: center;
        padding: 0;
    }
    .modal_footer{
        text-align: center;
        padding-top: 30px;
        button{
            margin-left: 10px;
            margin-right: 10px;
        }
        .Cancel{
            width: 190px;
            height: 50px;
            border: 1px solid #7D75FF;
            opacity: 1;
            border-radius: 16px;
            background: rgba(0,0,0,0);
            color: #7D75FF;
            font-size: 20px;
        }
        .Confirm{
            width: 190px;
            height: 50px;
            border: none;
            opacity: 1;
            border-radius: 16px;
            background: #3F8CFF;
            color: #fff;
            font-size: 20px;
        }
    }
    @keyframes mymove {
        50% {

            transform: rotate(360deg);

        }
    }
    @-webkit-keyframes mymove{  /* Safari and Chrome */

        50% {

            transform: rotate(360deg);
        }
    }
    .loding{
        text-align: center;
        padding-top: 40px;
        padding-bottom: 100px;
        animation: mymove 5s infinite;
        display: none;
    }
    .madelHide{
        display: block;
    }

    .hide{
        display: none;
    }
    .show {
        display: block;
    }

}


.ModalDiag{
    .ant-modal-content{
        background-size:100% 100%;
        border-radius: 16px;
        overflow: hidden;
    }

    .ant-modal-footer{
        display: none;
    }
    p{
        font-size: 20px;
        font-weight: 400;
        color: #AAAAAA;
        display: flex;
        justify-content: space-between;
        a{
        color: #000000;
        font-size: 16px;

        }
    }
    .modal_footer{
        text-align: center;
        padding-top: 30px;
        button{
            margin-left: 10px;
            margin-right: 10px;
        }
        .Cancel{
            width: 190px;
            height: 50px;
            border: 1px solid #7D75FF;
            opacity: 1;
            border-radius: 16px;
            background: rgba(0,0,0,0);
            color: #7D75FF;
            font-size: 20px;
        }
        .Confirm{
            width: 190px;
            height: 50px;
            border: none;
            opacity: 1;
            border-radius: 16px;
            background: #7D75FF;
            color: #fff;
            font-size: 20px;
        }
    }
    @keyframes mymove {
        50% {

            transform: rotate(360deg);

        }
    }
    @-webkit-keyframes mymove{  /* Safari and Chrome */

        50% {

            transform: rotate(360deg);
        }
    }
    .loding{
        text-align: center;
        padding-top: 40px;
        padding-bottom: 100px;
        animation: mymove 5s infinite;
        display: none;
    }
    img{
        width: 68px;
        height: 68px;
    }
    .success{
        text-align: center;
        display: none;

        padding-top: 40px;
        img{

            margin-top: 24px;
        }
        p{
            width: 292px;
            height: 60px;
            background: rgba(60,223,221,0.3);
            border-radius: 16px;
            color: #3CDFDD;
            font-size: 20px;
            line-height: 60px;
            margin: 0 auto;
            display: block;
            margin-bottom: 35px;
            margin-top: 20px;
        }
    }
    .error{
        text-align: center;
        padding-top: 40px;
        display: none;
        img{

            margin-top: 24px;
        }
        p{
            width: 292px;
            height: 60px;
            // background: rgba(60,223,221,0.3);
            border-radius: 16px;
            color: #fff;
            font-size: 20px;
            line-height: 60px;
            margin: 0 auto;
            margin-top: 20px;
            display: block;
            margin-bottom: 35px;
        }
    }
    .madelHide{
        display: block;
    }
}